<html>
<head>
	<title>Hello SMR</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	<script type="application/javascript">
		window.location = ['http://', window.location.hostname+":"+window.location.port, '/api/v1/docs'].join('');
	</script>
</head>
<body>
	Hello Simple Meeting Room System

	<ul>
		<li> <a href="pages/usr_main">usr_main</a></li>
		<li> <a href="pages/usr_reserve">usr_reserve</a></li>
		<li> <a href="pages/usr_s_my">usr_search_my</a></li>
		<li> <a href="pages/usr_s_room">usr_search_room</a></li>
		<li> <a href="pages/usr_set">usr_set</a></li>
	</ul>
</body>
</html>